// Styling for the features section
section.features {
    .section-heading {
        margin-bottom: 0px;
        h2 {
            color: $theme-tertiary;
            margin-top: 0;
            font-size: 60px;
        }
        p {
            margin-bottom: 0;
        }
    }

    @media (min-width: 768px) {
        .section-heading {
            h2 {
                font-size: 80px;
            }
        }
    }

    .my-auto {
        margin: 0 auto;
        .container-fluid {
            .row {
                justify-content: stretch;

                .col-lg-4 {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }

    .device-container,
    .feature-item {
        max-width: 325px;
        margin: 0 auto;
    }
    .device-container {
        margin-bottom: 100px;
        @media(min-width: 992px) {
            margin-bottom: 0;
        }
    }
    .feature-item {
        padding-top: 20px;
        padding-bottom: 0px;
        text-align: center;

        h3 {
            font-size: 48px;
            color: $theme-tertiary;
            margin-bottom: 15px;
        }

        p {
            color: $theme-secondary;
            font-size: 24px;
            line-height: 1.2;

            em {
                font-style: normal;
                font-weight: bold;
                color: $theme-primary;
            }
        }

        i {
            font-size: 80px;
            font-family: FontAwesome;
            font-style: normal;
            display: block;
            background-color: $theme-primary;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
